
*.xml
venv/

bgfiler/

backups/

*.har

electricity_usage.json

tibber_price_data.json

.refresh_token

*.tsv

screenshots/

.aider*
memory/

.gpte_consent
workspace/
prompt
file_list.txt

*.rtf

frontend/.env

.env-backup

.env
.env-fresh
