---
http_interactions:
- request:
    method: get
    uri: https://www.elprisetjustnu.se/api/v1/prices/2025/05-01_SE3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 09 Aug 2025 09:47:02 GMT
      Etag:
      - W/"68971916-d55"
    body:
      encoding: ASCII-8BIT
      string: '[{"SEK_per_kWh":0.51499,"EUR_per_kWh":0.04699,"EXR":10.959467,"time_start":"2025-05-01T00:00:00+02:00","time_end":"2025-05-01T01:00:00+02:00"},{"SEK_per_kWh":0.47838,"EUR_per_kWh":0.04365,"EXR":10.959467,"time_start":"2025-05-01T01:00:00+02:00","time_end":"2025-05-01T02:00:00+02:00"},{"SEK_per_kWh":0.46578,"EUR_per_kWh":0.0425,"EXR":10.959467,"time_start":"2025-05-01T02:00:00+02:00","time_end":"2025-05-01T03:00:00+02:00"},{"SEK_per_kWh":0.41712,"EUR_per_kWh":0.03806,"EXR":10.959467,"time_start":"2025-05-01T03:00:00+02:00","time_end":"2025-05-01T04:00:00+02:00"},{"SEK_per_kWh":0.39125,"EUR_per_kWh":0.0357,"E[...]
[...]
