---
http_interactions:
- request:
    method: get
    uri: https://www.elprisetjustnu.se/api/v1/prices/2025/07-01_SE3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 09 Aug 2025 09:47:21 GMT
      Etag:
      - W/"68971929-d4a"
    body:
      encoding: ASCII-8BIT
      string: '[{"SEK_per_kWh":0.36488,"EUR_per_kWh":0.03275,"EXR":11.141311,"time_start":"2025-07-01T00:00:00+02:00","time_end":"2025-07-01T01:00:00+02:00"},{"SEK_per_kWh":0.34159,"EUR_per_kWh":0.03066,"EXR":11.141311,"time_start":"2025-07-01T01:00:00+02:00","time_end":"2025-07-01T02:00:00+02:00"},{"SEK_per_kWh":0.34973,"EUR_per_kWh":0.03139,"EXR":11.141311,"time_start":"2025-07-01T02:00:00+02:00","time_end":"2025-07-01T03:00:00+02:00"},{"SEK_per_kWh":0.34237,"EUR_per_kWh":0.03073,"EXR":11.141311,"time_start":"2025-07-01T03:00:00+02:00","time_end":"2025-07-01T04:00:00+02:00"},{"SEK_per_kWh":0.32443,"EUR_per_kWh":0.02912,[...]
[...]
