---
http_interactions:
- request:
    method: get
    uri: https://www.elprisetjustnu.se/api/v1/prices/2025/02-01_SE3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 09 Aug 2025 09:47:16 GMT
      Etag:
      - W/"68971924-d50"
    body:
      encoding: ASCII-8BIT
      string: '[{"SEK_per_kWh":0.31747,"EUR_per_kWh":0.02766,"EXR":11.477765,"time_start":"2025-02-01T00:00:00+01:00","time_end":"2025-02-01T01:00:00+01:00"},{"SEK_per_kWh":0.30485,"EUR_per_kWh":0.02656,"EXR":11.477765,"time_start":"2025-02-01T01:00:00+01:00","time_end":"2025-02-01T02:00:00+01:00"},{"SEK_per_kWh":0.30496,"EUR_per_kWh":0.02657,"EXR":11.477765,"time_start":"2025-02-01T02:00:00+01:00","time_end":"2025-02-01T03:00:00+01:00"},{"SEK_per_kWh":0.30164,"EUR_per_kWh":0.02628,"EXR":11.477765,"time_start":"2025-02-01T03:00:00+01:00","time_end":"2025-02-01T04:00:00+01:00"},{"SEK_per_kWh":0.29762,"EUR_per_kWh":0.02593,[...]
[...]
