---
http_interactions:
- request:
    method: get
    uri: https://www.elprisetjustnu.se/api/v1/prices/2024/11-01_SE3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 09 Aug 2025 09:48:19 GMT
      Etag:
      - W/"68971963-d3c"
    body:
      encoding: ASCII-8BIT
      string: '[{"SEK_per_kWh":0.01987,"EUR_per_kWh":0.00171,"EXR":11.622522,"time_start":"2024-11-01T00:00:00+01:00","time_end":"2024-11-01T01:00:00+01:00"},{"SEK_per_kWh":0.01755,"EUR_per_kWh":0.00151,"EXR":11.622522,"time_start":"2024-11-01T01:00:00+01:00","time_end":"2024-11-01T02:00:00+01:00"},{"SEK_per_kWh":0.01348,"EUR_per_kWh":0.00116,"EXR":11.622522,"time_start":"2024-11-01T02:00:00+01:00","time_end":"2024-11-01T03:00:00+01:00"},{"SEK_per_kWh":0.01197,"EUR_per_kWh":0.00103,"EXR":11.622522,"time_start":"2024-11-01T03:00:00+01:00","time_end":"2024-11-01T04:00:00+01:00"},{"SEK_per_kWh":0.01162,"EUR_per_kWh":0.001,"E[...]
[...]
