---
http_interactions:
- request:
    method: get
    uri: https://www.elprisetjustnu.se/api/v1/prices/2025/01-01_SE3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 09 Aug 2025 09:47:39 GMT
      Etag:
      - W/"6897193b-d49"
    body:
      encoding: ASCII-8BIT
      string: '[{"SEK_per_kWh":0.03618,"EUR_per_kWh":0.00316,"EXR":11.450144,"time_start":"2025-01-01T00:00:00+01:00","time_end":"2025-01-01T01:00:00+01:00"},{"SEK_per_kWh":0.02828,"EUR_per_kWh":0.00247,"EXR":11.450144,"time_start":"2025-01-01T01:00:00+01:00","time_end":"2025-01-01T02:00:00+01:00"},{"SEK_per_kWh":0.02794,"EUR_per_kWh":0.00244,"EXR":11.450144,"time_start":"2025-01-01T02:00:00+01:00","time_end":"2025-01-01T03:00:00+01:00"},{"SEK_per_kWh":0.02267,"EUR_per_kWh":0.00198,"EXR":11.450144,"time_start":"2025-01-01T03:00:00+01:00","time_end":"2025-01-01T04:00:00+01:00"},{"SEK_per_kWh":0.0205,"EUR_per_kWh":0.00179,"[...]
[...]
