---
http_interactions:
- request:
    method: get
    uri: https://www.elprisetjustnu.se/api/v1/prices/2025/08-01_SE3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 09 Aug 2025 09:47:48 GMT
      Etag:
      - W/"68971944-d4d"
    body:
      encoding: ASCII-8BIT
      string: '[{"SEK_per_kWh":0.47579,"EUR_per_kWh":0.04262,"EXR":11.163422,"time_start":"2025-08-01T00:00:00+02:00","time_end":"2025-08-01T01:00:00+02:00"},{"SEK_per_kWh":0.48405,"EUR_per_kWh":0.04336,"EXR":11.163422,"time_start":"2025-08-01T01:00:00+02:00","time_end":"2025-08-01T02:00:00+02:00"},{"SEK_per_kWh":0.49633,"EUR_per_kWh":0.04446,"EXR":11.163422,"time_start":"2025-08-01T02:00:00+02:00","time_end":"2025-08-01T03:00:00+02:00"},{"SEK_per_kWh":0.47054,"EUR_per_kWh":0.04215,"EXR":11.163422,"time_start":"2025-08-01T03:00:00+02:00","time_end":"2025-08-01T04:00:00+02:00"},{"SEK_per_kWh":0.49499,"EUR_per_kWh":0.04434,[...]
[...]
