---
http_interactions:
- request:
    method: get
    uri: https://www.elprisetjustnu.se/api/v1/prices/2025/03-01_SE3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 09 Aug 2025 09:46:37 GMT
      Etag:
      - W/"689718fd-d32"
    body:
      encoding: ASCII-8BIT
      string: '[{"SEK_per_kWh":0.41204,"EUR_per_kWh":0.03685,"EXR":11.18142,"time_start":"2025-03-01T00:00:00+01:00","time_end":"2025-03-01T01:00:00+01:00"},{"SEK_per_kWh":0.4354,"EUR_per_kWh":0.03894,"EXR":11.18142,"time_start":"2025-03-01T01:00:00+01:00","time_end":"2025-03-01T02:00:00+01:00"},{"SEK_per_kWh":0.38263,"EUR_per_kWh":0.03422,"EXR":11.18142,"time_start":"2025-03-01T02:00:00+01:00","time_end":"2025-03-01T03:00:00+01:00"},{"SEK_per_kWh":0.42556,"EUR_per_kWh":0.03806,"EXR":11.18142,"time_start":"2025-03-01T03:00:00+01:00","time_end":"2025-03-01T04:00:00+01:00"},{"SEK_per_kWh":0.37972,"EUR_per_kWh":0.03396,"EXR[...]
[...]
