---
http_interactions:
- request:
    method: get
    uri: https://www.elprisetjustnu.se/api/v1/prices/2025/04-01_SE3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 09 Aug 2025 09:47:37 GMT
      Etag:
      - W/"68971939-d49"
    body:
      encoding: ASCII-8BIT
      string: '[{"SEK_per_kWh":0.32546,"EUR_per_kWh":0.03,"EXR":10.848616,"time_start":"2025-04-01T00:00:00+02:00","time_end":"2025-04-01T01:00:00+02:00"},{"SEK_per_kWh":0.32611,"EUR_per_kWh":0.03006,"EXR":10.848616,"time_start":"2025-04-01T01:00:00+02:00","time_end":"2025-04-01T02:00:00+02:00"},{"SEK_per_kWh":0.35616,"EUR_per_kWh":0.03283,"EXR":10.848616,"time_start":"2025-04-01T02:00:00+02:00","time_end":"2025-04-01T03:00:00+02:00"},{"SEK_per_kWh":0.35703,"EUR_per_kWh":0.03291,"EXR":10.848616,"time_start":"2025-04-01T03:00:00+02:00","time_end":"2025-04-01T04:00:00+02:00"},{"SEK_per_kWh":0.36831,"EUR_per_kWh":0.03395,[...]
[...]
