---
http_interactions:
- request:
    method: get
    uri: https://www.elprisetjustnu.se/api/v1/prices/2025/09-01_SE3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 31 Aug 2025 11:01:16 GMT
      Etag:
      - '"68b42b7c-d49"'
    body:
      encoding: ASCII-8BIT
      string: '[{"SEK_per_kWh":0.50702,"EUR_per_kWh":0.04586,"EXR":11.055806,"time_start":"2025-09-01T00:00:00+02:00","time_end":"2025-09-01T01:00:00+02:00"},{"SEK_per_kWh":0.49784,"EUR_per_kWh":0.04503,"EXR":11.055806,"time_start":"2025-09-01T01:00:00+02:00","time_end":"2025-09-01T02:00:00+02:00"},{"SEK_per_kWh":0.4911,"EUR_per_kWh":0.04442,"EXR":11.055806,"time_start":"2025-09-01T02:00:00+02:00","time_end":"2025-09-01T03:00:00+02:00"},{"SEK_per_kWh":0.4723,"EUR_per_kWh":0.04272,"EXR":11.055806,"time_start":"2025-09-01T03:00:00+02:00","time_end":"2025-09-01T04:00:00+02:00"},{"SEK_per_kWh":0.49276,"EUR_per_kWh":0.04457,"E[...]
[...]
