---
http_interactions:
- request:
    method: get
    uri: https://www.elprisetjustnu.se/api/v1/prices/2025/06-01_SE3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 09 Aug 2025 09:46:32 GMT
      Etag:
      - W/"689718f8-d5a"
    body:
      encoding: ASCII-8BIT
      string: '[{"SEK_per_kWh":0.38932,"EUR_per_kWh":0.03577,"EXR":10.883924,"time_start":"2025-06-01T00:00:00+02:00","time_end":"2025-06-01T01:00:00+02:00"},{"SEK_per_kWh":0.37582,"EUR_per_kWh":0.03453,"EXR":10.883924,"time_start":"2025-06-01T01:00:00+02:00","time_end":"2025-06-01T02:00:00+02:00"},{"SEK_per_kWh":0.3743,"EUR_per_kWh":0.03439,"EXR":10.883924,"time_start":"2025-06-01T02:00:00+02:00","time_end":"2025-06-01T03:00:00+02:00"},{"SEK_per_kWh":0.38453,"EUR_per_kWh":0.03533,"EXR":10.883924,"time_start":"2025-06-01T03:00:00+02:00","time_end":"2025-06-01T04:00:00+02:00"},{"SEK_per_kWh":0.34284,"EUR_per_kWh":0.0315,"E[...]
[...]
