---
http_interactions:
- request:
    method: get
    uri: https://www.elprisetjustnu.se/api/v1/prices/2024/12-01_SE3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 09 Aug 2025 09:48:08 GMT
      Etag:
      - W/"68971958-d50"
    body:
      encoding: ASCII-8BIT
      string: '[{"SEK_per_kWh":0.22238,"EUR_per_kWh":0.01928,"EXR":11.533985,"time_start":"2024-12-01T00:00:00+01:00","time_end":"2024-12-01T01:00:00+01:00"},{"SEK_per_kWh":0.21857,"EUR_per_kWh":0.01895,"EXR":11.533985,"time_start":"2024-12-01T01:00:00+01:00","time_end":"2024-12-01T02:00:00+01:00"},{"SEK_per_kWh":0.21926,"EUR_per_kWh":0.01901,"EXR":11.533985,"time_start":"2024-12-01T02:00:00+01:00","time_end":"2024-12-01T03:00:00+01:00"},{"SEK_per_kWh":0.21995,"EUR_per_kWh":0.01907,"EXR":11.533985,"time_start":"2024-12-01T03:00:00+01:00","time_end":"2024-12-01T04:00:00+01:00"},{"SEK_per_kWh":0.22249,"EUR_per_kWh":0.01929,[...]
[...]
